header{
    width: 100%;
    background-image: linear-gradient( to right, #0d4225, transparent, rgb(13, 66, 37) ); 
    padding: 10px;
}

header h1{
    color:rgb(53, 123, 62);
    font-size: 3em;
    text-align: center;
    cursor: pointer;
    text-shadow: 3px 3px 1px #87cb7e;
}